@import url('./__logo/header__logo.css');
@import url('./__line/header__line.css');

.header {
    margin: 45px auto 36px auto;
    padding-bottom: 41px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 882px;
    max-width: 100vw;
    border-bottom: 1px solid rgba(84,84,84, .7);
}

@media screen and (max-width: 425px) {
    .header {
        margin: 28px auto 38px auto;
    }
}

