@import url('./__title/edit-form__title.css');
@import url('./__input/edit-form__input.css');
@import url('./__line/edit-form__line.css');
@import url('./__save-btn/edit-form__save-btn.css');
@import url('./__close-btn/edit-form__close-btn.css');

.edit-form {
    position: relative;
    width: 358px;
    height: 280px;
    padding: 34px 36px 36px 36px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 425px) {
    .edit-form {
        width: 200px;
    }
}
