.post__info {
    display: flex;
    width: calc(100% - 46px);
    height: 55px;
    justify-content: space-between;
    background-color: #fff;
    padding: 25px 15px 0 21px;
    border-radius: 0 0 10px 10px;
}