@import url('./__image/post__image.css');
@import url('./__caption/post__caption.css');
@import url('./__info/post__info.css');
@import url('./__like/post__like.css');

.post {
    background-color: #fff;
    border-radius: 10px;
    width: 282px;
    background-size: 282px;
    background-repeat: no-repeat;
    height: 361px;
    display: flex;
}

.post:nth-of-type(1) {
    background-image: url('../../images/yosemite.jpg');
}

.post:nth-of-type(2) {
    background-image: url('../../images/lake-louise.png');
}

.post:nth-of-type(3) {
    background-image: url('../../images/bald-mountains.png');
}

.post:nth-of-type(4) {
    background-image: url('../../images/latemar.png');
}

.post:nth-of-type(5) {
    background-image: url('../../images/vanois.png');
}

.post:nth-of-type(6) {
    background-image: url('../../images/lago-di-braies.png');
}