.edit-form__close-btn {
    background-image: url('../../../images/close.svg');
    position: absolute;
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
    border: none;
}

@media screen and (max-width: 425px) {
    .edit-form__close-btn { 
        top: -20px;
        right: -20px;
        width: 25px;
        height: 25px;
        background-size: 30px;
    }
}